{
	"ModInfo" : {
		"__type" : "ModInfo,Assembly-CSharp",
		"value" : {
			"id" : "SpecialAPI.WMITF",
			"name" : "WMITF v1.4.0",
			"version" : "1.4.0",
			"description" : "What mod is this from? Shows what mods modded content is from.\n\nGitHub repository: https://github.com/SpecialAPI/WMITFBrutalOrchestra",
			"authors" : "157",
			"showIconOnMainMenu" : false
		}
	}
}