{
	"ModInfo" : {
		"__type" : "ModInfo,Assembly-CSharp",
		"value" : {
			"id" : "SpecialAPI.WMITF",
			"name" : "WMITF",
			"version" : "1.2.0",
			"description" : "What mod is this from? Shows what mods modded content is from.\n\nGitHub repository: https://github.com/SpecialAPI/WMITFBrutalOrchestra",
			"authors" : "😎",
			"showIconOnMainMenu" : false
		}
	}
}